# Dependencies
node_modules

# Nx
.nx

# Build
dist
coverage
tmp

# Logs
*.log

# Environment
.env
.env.*

!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Cache
.cache

# Prisma
prisma/dev.db

# Docker
docker-data