NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/gurusthalam?schema=public"
DATABASE_NAME="gurusthalam"

REDIS_URL="redis://localhost:6379"

INTERNAL_API_KEY="576958add3e14ee841fbd85f0bcf17d4679c3ac0005627ac213e0213995190c3"